<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Ideal Roommate</title>
  </head>
  <body>
    <h1>New here? Sign up!</h1>
        <div class="notification is-danger">
            <a href="{{ url_for('auth.login') }}">{{ message }}</a>.
        </div>
    <form method="POST" action="/signup">
        <div class="field">
            <div class="control">
                <input class="input is-large" type="email" name="email" placeholder="Email" autofocus="">
            </div>
        </div>

        <div class="field">
            <div class="control">
                <input class="input is-large" type="text" name="name" placeholder="Name" autofocus="">
            </div>
        </div>

        <div class="field">
            <div class="control">
                <input class="input is-large" type="password" name="password" placeholder="Password">
            </div>
        </div>

        <button>Sign Up</button>
    </form>
  </body>
</html>
